.footer-area{
/*	background: linear-gradient(#654466, #6a406b, #360838) repeat scroll 0% 0% transparent;*/
  background-color: #996694;
}
.footer_title{
	font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: #fff;
    margin-bottom: 28px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: whitesmoke;
    text-align: left;
    list-style: none;
    background-color: rgba(52, 59, 64) !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.list{
	list-style-type: none;
}
.title-heading{
	color:#461948;
	padding-top: 1rem!important;
}
.title-heading1{
    color:#e9681a;
    padding-top: 1rem!important;
}
.quick-link-li{
	/*background: linear-gradient(to right, rgb(120, 88, 121) 0%, rgba(245, 233, 245, 0) 100%);*/
     /*   border-bottom: 1px solid;*/
    /*background: rgb(120, 88, 121);*/
   /*background-image: linear-gradient(to right, #1c0d27, #8c538c);*/
    background-color: #996694;
     border-bottom: 1px solid white;
}
.main-box{
	box-sizing: border-box;
    border: 1px solid #6a406b70;
    font-size:14px;
}
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
    opacity: 1
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-prev,
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
.list-none{
    list-style-type: none;
}
/*.fa{*/
/*    padding: 5px;*/
/*    font-size: 25px;*/
/*    margin-right: 5px;*/
/*    color:#4d214e; */
/*}*/


.btn1{
    width:50%;
    height:50px;
    color: white;
    background-color:#69406a;
    border-radius:5px;
}
/*banner images*/

.banner{
  /*width: 100%;*/
  height: 300px;
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)100%), url("../images/b4.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*about section */

.btn-link1 {
    font-weight: 800;
    color: #684069;
    background-color: transparent;
}
.btn-link1:hover {
    color: #e9681a;
    /*text-decoration: underline;*/
    /*background-color: transparent;*/
    /*border-color: transparent;*/
}
.card-header {
    padding:0;
    margin-bottom: 0;
    /*background: linear-gradient(to right, rgb(198, 180, 199) 0%, rgba(245, 233, 245, 0) 100%);*/
    overflow:hidden;
    border-bottom: 1px solid;
   /* border-bottom: 1px solid rgba(0,0,0,.125);*/
}
/*gallery section start*/


/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}



/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
/*  background-color: white;*/
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn1 {
  border: none;
  outline: none;
  padding: 10px 14px;
  background-color:#735573;
  cursor: pointer;
  color: white;
}

.btn1:hover {
  background-color:#b085b2;
  color: black;
}

.btn1.active {
  background-color: #471a49;
  color: white;
}
.hei{
  width: 100%;
  height: 169px;
}
@media (max-width: 575.98px) { 
    .hei{
        height: auto; 
    }
}
  .box {
    padding: 40px;
    /*margin-bottom: 40px;*/
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #69406a;
    border-color: #69406a;
}
/*droupdawn section*/
/*.drop_down{*/
/*    color: black;*/
/*    background-color: #996694;*/
   
/*}*/

 /*.dropdown-item.active, .dropdown-item:active {*/
 /*   color: #fff;*/
 /*   text-decoration: none;*/
 /*   background-color: #007bff;*/
    
 /*}*/
 /*.dropdown-toggle::after {*/
 /*   display: inline-block;*/
 /*   width: 0;*/
 /*   height: 0;*/
 /*   margin-left: .255em;*/
 /*   vertical-align: .255em;*/
 /*   content: "";*/
 /*   border-top: .3em solid;*/
 /*   border-right: .3em solid transparent;*/
 /*   border-bottom: 0;*/
 /*   border-left: .3em solid transparent;*/
 /*   margin-top:7px;*/
 /*}*/
 #drop-size{
     font-size:11px;
 }
.btn:focus{
    outline:0 !important;
    box-shadow: none !important;
}
/*.dropdown-menu{*/
/*    min-width:30rem !important;*/
/*}*/
/*.nav-menu ul li:hover > a {*/
/*    color: #50d8af;*/
/*}*/

